<nav class="navbar-expand-lg navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Genrate-Qr</a> 
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/encryption-decryption">encryption&decryption</a> 
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/imgtotext">ImageToText</a> 
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/star-pattren">Star pattern</a> 
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/alertnate-background">alternate background</a> 
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/readlanguage">Read language</a> 
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/fileupload">Upload Image</a> 
        </li>
    </div>
  </nav>