<%- include('./components/header.ejs') %>

<div class="container pt-5">


    <form method="post" action="/fileupload" enctype="multipart/form-data">
        <div class="form-group">
          <label for="exampleFormControlFile1">Import image</label>
          <input required type="file" class="form-control-file"  name="image" id="exampleFormControlFile1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <div class="card mt-5" style="width: 18rem;">
        <img src='http://localhost:9000/uploads/<%= filename %>'  class="card-img-top" alt="data">
      </div>






</div>

<%- include('./components/footer.ejs') %>